
body {
  font-family: sans-serif;
}

/* p {
  font-size: 0.8rem;
} */

#title {
  font-size: 4rem;
  margin: 0;
}

#submitButton{
  font-size: 1rem;
  padding: 2% 4%;
  position: relative;
  bottom: 10%;
}

.justified {
  text-align: center;
}

.borderless {
  border: 0;
}

.intro-text{
  display: none;
}

input[type="radio"]{
  transform: scale(2);
  margin: 4% 3%;
}

.radio-label {
  font-size: 2rem;
}

/* #ageForm {
  position: relative;
  top: 30%;
} */

select {
  font-size: 1.2rem;
  padding: 3%;
  width: 50%;
}

/* Grid container styles */

.grid-container {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  grid-template-areas:
  "arrowPrev header arrowNext"
  "arrowPrev main arrowNext"
  "arrowPrev submit arrowNext";
  background-color: #fafafa;
  margin: 10% 25%;
  border-radius: 5%;
  box-shadow: 5px 5px 20px #777;
}

.grid-box {
  text-align: center;
  padding: 5%;
}

.arrowNext-box, .arrowPrev-box {
  margin: auto;
  color: #969696;
}

.arrowPrev-box {
  grid-area: arrowPrev;
}

.arrowNext-box{
  grid-area: arrowNext;
}

.header-box {
  grid-area: header;
}

.main-box {
  grid-area: main;
  /* padding: 15%; */
}

.submit-box {
  grid-area: submit;
}

@media screen and (max-width: 1100px){
  .grid-container {
    grid-template-areas:
    "header header header"
    "main main main"
    "submit submit submit";
    margin: 10% 20%;
  }

  .arrowNext-box, .arrowPrev-box {
    display: none;
  }
}
